body,html{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    background-color: darkslateblue;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
#mainContainer{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}
#author{
    display: flex;
    justify-content:flex-end;
}
#buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
#social{
    display: flex;
    justify-content: start;
    gap: 10px;
}
#new-quote{
    display: flex;
    justify-content: end;
}
svg{
    background-color: darkslateblue;
    border-color: none;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
.btn-primary{
    transition : border 2s ease-out;
    background-color:darkslateblue;
    border-color:darkslateblue;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;

}
.btn-primary:hover{
    background-color:darkslateblue;
    border-color:darkslateblue;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
.btn-primary:focus{
    box-shadow:none;
    color: white;
}
p{
    -webkit-transition:2s ease-out;
    -moz-transition:2s ease-out;
    -o-transition:2s ease-out;
    transition:2s ease-out;
}
h4{
    color: darkslateblue;
    -webkit-transition:2s ease-out;
    -moz-transition:2s ease-out;
    -o-transition:2s ease-out;
    transition:2s ease-out; 
}
